.header {
    background-image: url(../../../shared/assets/images/fon.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 8rem /* 128px */;
    padding-right: 8rem /* 128px */;

    @media (max-width: 1240px) {
        padding-left: 3.5rem /* 56px */;
        padding-right: 3.5rem /* 56px */;
    }

    @media (max-width: 570px) {
        padding-left: 1.5rem /* 24px */;
        padding-right: 1.5rem /* 24px */;
    }

    &__wrapper {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        min-height: 100vh /* 736px */;
    }
}
