:root {
  --font-family-main: 'Fira Sans', 'sans-serif';
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --bg-color: #ffffff;
  --inverted-bg-color: #f9f4f4;
  --primary-text-color: #333333;
  --primary-title-color: #2E363E;
  --primary-accept-color: #7E868E;
  --primary-bgInput-color: #929AA2;
  --bg-back-color: #f5f5f4;
  --inverted-primary-text-color: #ffffff;
  --accept-color: #dba069;
  --accept-button-color: #842231;
  --input-color: #f2f6fa;
}
