.AboutProjectContent {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 6rem;
    display: flex;

    @media (max-width: 1240px) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        flex-direction: column;
    }
    @media (max-width: 768px) {
        padding-top: 3.5rem;
    }
    @media (max-width: 570px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .AboutProjectContentLeft {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        padding-right: 1.5rem;

        @media (max-width: 1240px) {
            max-width: 100%;
            padding-right: 0;
            align-items: center;
        }

        &__title {
            font-weight: 700;
            font-size: 3rem;
            line-height: 1;
            color: var(--primary-text-color);
            margin-bottom: 3.75rem;
        }
    }

    .TextContent {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: var(--primary-text-color);

        @media (max-width: 900px) {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .TextContentAdditional {
        margin-bottom: 3.5rem;
        @media (max-width: 900px) {
            margin-bottom: 2rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .TitleContent {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: var(--primary-text-color);

        @media (max-width: 900px) {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }
    .TitleContentAdditional {
        margin-top: 6rem;
        @media (max-width: 570px) {
            margin-top: 4rem;
        }
    }

    .AboutProjectContentRight {
        display: flex;
        flex-direction: column;
        margin-left: 3.5rem;
        margin-top: 2.5rem;

        @media (max-width: 1240px) {
            align-items: center;
            margin-left: 0;
        }

        &__image1 {
            position: relative;
            width: 442px;
            height: 442px;

            @media (max-width: 900px) {
                width: 332px;
                height: 332px;
            }
            @media (max-width: 570px) {
                width: 220px;
                height: 220px;
            }
        }

        &__image2 {
            position: absolute;
            width: 442px;
            height: 442px;

            @media (max-width: 900px) {
                width: 332px;
                height: 332px;
            }
            @media (max-width: 570px) {
                width: 220px;
                height: 220px;
            }
        }

        &__img2 {
            position: absolute;
            min-width: 442px;
            aspect-ratio: 1 / 1;
            left: 2.5rem;
            top: 2.5rem;
            z-index: -10;

            @media (max-width: 900px) {
                min-width: 332px;
                top: 1.25rem;
            }
            @media (max-width: 570px) {
                min-width: 220px;
                top: 0.75rem;
            }
        }

        &__image3 {
            position: absolute;
            width: 442px;
            height: 442px;

            @media (max-width: 900px) {
                width: 332px;
                height: 332px;
            }
            @media (max-width: 570px) {
                width: 220px;
                height: 220px;
            }
        }

        &__img3 {
            position: absolute;
            min-width: 442px;
            aspect-ratio: 1 / 1;
            left: 5rem;
            top: 4rem;
            z-index: -20;

            @media (max-width: 900px) {
                min-width: 332px;
            }
            @media (max-width: 570px) {
                min-width: 220px;
                left: 2.5rem;
                top: 2rem;
            }
        }
    }
}
