.FooterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 6rem;

  @media (max-width: 1340px) {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }

  @media (max-width: 880px) {
    flex-direction: column;
  }

  @media (max-width: 540px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
  }


}