.LocationContent {
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;

    @media (max-width: 1240px) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 2.5rem;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 900px) {
        padding-top: 0px;
    }
    @media (max-width: 570px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__leftContent {
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        padding-top: 3.5rem;

        @media (max-width: 1240px) {
            margin-bottom: 3.5rem;
            padding-left: 0px;
        }
        @media (max-width: 900px) {
            padding-top: 2rem;
        }
        @media (max-width: 640px) {
            padding-top: 0px;
        }
        .LocationContentTitle {
            font-weight: 700;
            font-size: 3rem;
            line-height: 1;
            margin-bottom: 3rem;
            color: var(--primary-text-color);

            @media (max-width: 1240px) {
                text-align: center;
            }
            @media (max-width: 640px) {
                font-size: 2.25rem;
                line-height: 2.5rem;
            }
        }

        .LocationContentParagraph {
            line-height: 1.1;
            font-weight: 300;
            font-size: 1.25rem;
            width: 480px;
            color: var(--primary-text-color);

            @media (max-width: 1240px) {
                width: 100%;
            }
            @media (max-width: 900px) {
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
        }
    }

    &__rightContent {
        display: flex;
        width: 100%;
        padding-left: 7.5rem;

        @media (max-width: 1450px) {
            padding-left: 2.7rem;
        }
        @media (max-width: 1240px) {
            width: 66.666667%;
            align-items: center;
        }
        @media (max-width: 768px) {
            width: 82%;
        }
        @media (max-width: 640px) {
            width: 92%;
        }
        @media (max-width: 570px) {
            width: 80%;
        }
        @media (max-width: 450px) {
            width: 100%;
        }

        .LocationContentImage1 {
            position: relative;
            width: 442px;
            height: 442px;

            @media (max-width: 900px) {
                width: 332px;
                height: 332px;
            }
            @media (max-width: 570px) {
                width: 220px;
                height: 220px;
            }

            &__img1 {
                position: relative;
                z-index: 10;
            }
        }
        .LocationContentImage2 {
            position: absolute;
            width: 442px;
            height: 442px;

            @media (max-width: 900px) {
                width: 332px;
                height: 332px;
            }
            @media (max-width: 570px) {
                width: 220px;
                height: 220px;
            }

            &__img2 {
                position: absolute;
                left: 1.75rem;
                top: 2.5rem;
                z-index: -10;

                @media (max-width: 570px) {
                    left: 1rem;
                    top: 1.5rem;
                }
            }
        }
        .LocationContentImage3 {
            position: absolute;
            width: 442px;
            height: 442px;

            @media (max-width: 900px) {
                width: 332px;
                height: 332px;
            }
            @media (max-width: 570px) {
                width: 220px;
                height: 220px;
            }

            &__img3 {
                position: absolute;
                left: 4rem;
                top: 2.5rem;
                z-index: -20;

                @media (max-width: 570px) {
                    left: 2rem;
                    top: 1.5rem;
                }
            }
        }
    }
}
