.Technology {
  margin-bottom: 1rem;

  &__inner {
    position: relative;
  }

  &__backTitle {
    color: var(--bg-back-color);
    font-size: 13rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8rem;
    z-index: -10;

    @media (max-width: 1240px) {
      font-size: 10rem;
      top: 3rem;
    }
    @media (max-width: 1060px) {
      font-size: 9rem;
      top: 0;
    }
    @media (max-width: 900px) {
      top: 0;
      font-size: 4.5rem;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}