.app_dark_theme {
    --bg-color: #333333;
    --second-bg-color: #f9f4f4;
    --primary-text-color: #ffffff;
    --inverted-primary-text-color: #333333;
    --accept-color: #dba069;
    --accept-button-color: #842231;
    --input-color: #f2f6fa;
}
