.app_normal_theme {
  --bg-color: #ffffff;
  --inverted-bg-color: #f9f4f4;
  --primary-text-color: #333333;
  --inverted-primary-text-color: #ffffff;
  --accept-color: #dba069;
  --accept-button-color: #842231;
  --input-color: #F2F6FA;
}